{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Website SisRoupas</title>
</head>
<body>
    
    <div class="container">
        <div class="row row-space">
            <div class="col-8">
                <h1>
                KeroRoupas
                <br>
                <small class="text-muted">Trabalhando para ganhar o pão</small>
                </h1>
            </div>
            <div class="col-4">
                <img src="{% static 'img/roupas.jpg' %}" alt="SisRoupas" width="320" height="205" img-thumbnail>
            </div>
        </div>
    </div>

    {% include 'website/menu.html' %}
    {% block main %}
    {% endblock %}
</body>
</html>