<div class="row row-space">
    <div class="col-3">
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </nav>
    </div>

    <div class="col-6">
        <p class="footer-website">Imagina um copyright dahora ai | Dev team sad 2019</p>
    </div>
    <div class="col-3">
        
    </div>
</div>