{% extends 'website/base.html' %}
{% load static %}

{% block main %}


    <br><br>
    <div class="row row-space">
        <div class="col-6">
            <p class="p">Estamos a servir com total indisponibilidade todos os deserviços, sendo assim, somos dotados de prazer
            de servir apenas serviços qualificados, pois repudiamos o irrepudiável, fazendo com que nos tornemos
            um diferencial no diferente. Roupas de grif com cara de pirata mas sendo 300% original, se rasgar tem
            multa.</p>
        </div>
        
        <div class="col-6">
            <p class="p">Contando com a ajuda dos mais qualificados atendentes coletados no jovem aprendiz, se faz assim carente
            um atendimento de qualidade, o que fez com que surgisse a necessidade desse sistema, estagiários de todos
            os arredores tem decidido não se envolver em tal diálogo, pois opinião desnecessária gera desempregados.</p>
        </div>
    </div><hr>

    <div class="row row-space">
        <div class="col-4" >
            <p class="p">Com um estoque completo e diferente no sentido da palavra, a loga KeroRoupas resolveu inovar e 
            criar um sistema SisRoupas para gerenciar suas roupas de forma efetiva e completa (desculpa ainda
            falta uma parte do sistema)</p>
        </div>

        <div class="col-4">
            
            <div class="card" style="width: 18rem;" >
                <img src="{% static 'img/imagem1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Mulher Comprando roupas Feliz no KeroRoupas.<br>(Mulher não inclusa na compra)</p>
            </div>
        </div>

        </div>
        <div class="col-4">
            <p class="p">Roupas com texturas exuberantes de florzinhas, ou roupas exoticas com cara de onça temos aqui tbm,
            além disso temos em nossas lojas roupas infantis e adultas, enfim, para todas as idades, venha para a
            KeroRoupas agora mesmo e curta o melhor da vida.</p>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-6">
            <p class="p">Estamos a servir com total indisponibilidade todos os deserviços, sendo assim, somos dotados de prazer
            de servir apenas serviços qualificados, pois repudiamos o irrepudiável, fazendo com que nos tornemos
            um diferencial no diferente. Roupas de grif com cara de pirata mas sendo 300% original, se rasgar tem
            multa.</p>
        </div>
        <div class="col-6">
            <p class="p">Contando com a ajuda dos mais qualificados atendentes coletados no jovem aprendiz, se faz assim carente
            um atendimento de qualidade, o que fez com que surgisse a necessidade desse sistema, estagiários de todos
            os arredores tem decidido não se envolver em tal diálogo, pois opinião desnecessária gera desempregados.</p>
        </div>
    </div>

    {% include 'website/footer.html' %}

{% endblock %}