{% extends 'website/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/sla.css' %}">
{% block main %}
    
    <br>
    <div class="row">
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/grife.jpg' %}" alt="Camisa de grife" 
                style="display: inline-block; float: right; padding-right: 100px;">
                <figcaption class="figure-caption text-right">Camisa de Grife</figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/original.jpg' %}" class="img" alt="Camisa de grife"
                style="display: inline-block; float: right; padding-right: 100px;">
                <figcaption class="figure-caption text-right">Camisa 100% Original</figcaption>
            </figure>
        </div>
        </div>
        <div class="col-4">
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/original.jpg' %}" class="img" alt="Camisa de grife"
                style="display: inline-block; float: right; padding-right: 100px;">
                <figcaption class="figure-caption text-right">Camisa 100% Original</figcaption>
            </figure>
        </div>
        </div>

    </div>
        <div class="row">
        <div class="col-4">
            <p>Camisa Estampada</p>
            <img src="{% static 'img/estampa.jpg' %}" alt="SisRoupas" class="img">>
        </div>
        <div class="col-4">
            <p>Calção Esportivo</p>
            <img src="{% static 'img/calcao.jpg' %}" alt="SisRoupas" class="img">>
        </div>
        <div class="col-4">
            <p>Blusa Feminina</p>
            <img src="{% static 'img/blusa.jpg' %}" alt="SisRoupas" class="img">>
        </div>
    </div>
{% endblock %}