{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    
    <br>
    <div class="row">
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/grife.jpg' %}" class="figure-img img-fluid rounded" alt="Camisa de grife">
                <figcaption class="figure-caption text-right">Camisa de Grife</figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/original.jpg' %}" class="figure-img img-fluid rounded" alt="Camisa de grife">
                <figcaption class="figure-caption text-right">Camisa 100% Original</figcaption>
            </figure>
        </div>
        </div>
        <div class="col-4">
        <div class="col-4">
            <figure class="figure">
                <img src="{% static 'img/original.jpg' %}" class="figure-img img-fluid rounded" alt="Camisa de grife">
                <figcaption class="figure-caption text-right">Camisa 100% Original</figcaption>
            </figure>
        </div>
        </div>

    </div>
        <div class="row">
        <div class="col-4">
            <p>Camisa Estampada</p>
            <img src="{% static 'img/estampa.jpg' %}" alt="SisRoupas" class="img">>
        </div>
        <div class="col-4">
            <p>Calção Esportivo</p>
            <img src="{% static 'img/calcao.jpg' %}" alt="SisRoupas" class="img">>
        </div>
        <div class="col-4">
            <p>Blusa Feminina</p>
            <img src="{% static 'img/blusa.jpg' %}" alt="SisRoupas" class="img">>
        </div>
    </div>
{% endblock %}