{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col">
        <h1>Lista de Sessões de Roupas</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'cadastro_sessao_novo' %}" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <ul> 
        {% for sessoes in sessao %}
            <li>
                <a href="{% url 'cadastro_sessao_update' sessoes.id %}"> {{ sessoes.sessao }} </a>
            </li>
        {% endfor %}
        </ul>
    </div>
<div>

{% endblock main %}