{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cadastro_home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Roupas</a>
            <div class="dropdown-menu">

                <a class="dropdown-item" href="{% url 'cadastro_lista_roupas'%}">Roupas</a>
                <a class="dropdown-item" href="{% url 'cadastro_lista_marcaroupas'%}">Marca da Roupa</a>
                <a class="dropdown-item" href="{% url 'cadastro_lista_tiporoupas'%}">Tipo de Roupa</a>
                <a class="dropdown-item" href="{% url 'cadastro_lista_sessao'%}">Sessão da Roupa</a>

                
       
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'cadastro_lista_clientes'%}">Clientes</a>
                
                <a class="dropdown-item" href="{% url 'cadastro_lista_funcionarios'%}">Funcionarios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'financeiro_lista_alugueis' %}">Aluguel</a>
                <a class="dropdown-item" href="{% url 'financeiro_lista_taxas' %}">Taxas</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Locação</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#" >Olá, {{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock menu %}

{% block main %}

<div class="row">
    <div class="col">
        <h1>Cadastro de Sessões de Roupas</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'cadastro_sessao_novo' %}" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
    <div class="col-6">
        <h1> Lista das Sessões de Roupas </h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Sessão</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for sessoes in sessao %}
                <tr>
                    <th scope="row">{{ sessoes.id }}</th>
                    <td>{{ sessoes.sessao }}</td>
                    <td><a href="{% url 'cadastro_sessao_update' sessoes.id %}"> Editar </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div>

{% endblock main %}