{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col">
        <h1>Lista de Tipo de Roupas</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'cadastro_tiporoupa_novo' %}" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <ul> 
        {% for tiporoupas in tiporoupa %}
            <li>
                <a href="{% url 'cadastro_tiporoupa_update' tiporoupas.id %}">
                {{ tiporoupas.tipo_roupa }} </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock main %}