{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
        <h2>Atualizando o Tipo de Roupa: {{ tiporoupa }}</h2>
        <div class="col-6">
                <form action="{% url 'cadastro_tiporoupa_update' tiporoupa.id %}" method="POST">
                        {% csrf_token %}

                        {{ form.|bootstrap }}

                        <button type="submit" class="btn btn-success"> Cadastrar </button>
                        <a href="{% url 'cadastro_tiporoupa_delete' tiporoupa.id %}"
                        class="btn btn-danger">Deletar</a>
                </form>
        </div>
</div>

{% endblock main %}