{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}



<div class="row">
        <h2>Atualizando o Cliente: {{ cliente }}</h2>
        <div class="col-6">
                <form action="{% url 'cadastro_cliente_update' cliente.id %}" method="POST">
                        {% csrf_token %}

                        {{ form|bootstrap }}

                        <button type="submit" class="btn btn-success"> Atualizar </button>
                        <a href="{% url 'cadastro_cliente_delete' cliente.id %}"
                         class="btn btn-danger">Deletar</a>
                </form>
        </div>
</div>


{% endblock main %}